body{
	font-size: 16px;
	font-family: 'Rajdhani', sans-serif;
}
.contact
{
	font-size: 11px;
	margin-top: 10px;
	margin-right: 5%;
	margin-bottom: 10px;
}
.contact span{
	font-size: 18px;
	transform: translateY(13%);
	margin-left: 12px;
	margin-right: 4px;
}
.menubar{
	margin-left: 5%;
	margin-right: 4%;
}
.menubar .logo{
	font-size: 24px;
}
.menubar .logo span{
	font-size: 44px;
	color: #40c0c2 ;
}
.navigations a{
	font-size: 18px;
	font-weight: 400;
	color: black;
	padding: 3%;
}
.navigations a:hover{
	background-color: #40c0c2;
	color: #f1f1f1;
	text-decoration: none;
	border-radius: 0px;
}
.slider{
	min-height: 80vh;
	background-image: url(../img/slider.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.blur{
	z-index: 2;
	background-color: rgba(0,0,0,0.4);
	color: #ffffff;
	min-height: 80vh;
}

/*Carousel property*/
.owl-carousel.owl-loading {
	opacity: 1;
}
.owl-carousel .owl-nav .owl-next{
	position: absolute;
	left: 2%;
	top: 65%;
	font-size: 100px;
}
.owl-carousel .owl-nav .owl-prev{
	position: absolute;
	right: 2%;
	top: 65%;
	font-size: 100px;
}
.owl-carousel .owl-nav .owl-next:hover,.owl-carousel .owl-nav .owl-prev:hover{
	background-color: transparent;
	color: #f1f1f1;
	border:none;
}
.owl-carousel .owl-dot {
	background-color: #ffffff;
	border-radius: 100%;
	border:1px solid white;
	display: inline-block;
	padding: 5px 5px;
	margin-right: 5px;
}
.owl-carousel .owl-dots{
	position: absolute;
	align-items: bottom;
	left: 45%;
	transform: translateY(700%);
}
.owl-carousel .owl-dot.active{
	background-color: #40c0c2;
	border-color:#40c0c2; 
}
.carousel-view h1{
	font-size: 55px;
}
.carousel-view h1, .carousel-view h3{
	margin-left: 10%;
	line-height: 20px;
	letter-spacing: 2px;
}
.carousel-view h3{
	margin-top: 17%;
	font-size: 30px;
}
.owl-item{
	margin-right: 0px !important;
}
/*Why choose style*/
.why-choose{
	background-color: #5abec4;
}
.why-choose-1{
	padding: 17% 8%;	
}
.why-choose h2{
	font-size: 35px;
}
.why-choose h1{
	font-size: 55px;
}
.why-choose h2,.why-choose h1{
	line-height: 18px;
	color: #ffffff;
}
.why-choose .right{
	margin-right: 25%;
}
.why-choose-row{
	margin-left: 15px;
	margin-right: 15px;
}
.why-choose-2{
	padding: 15% 5%;
	color: #ffffff;
}
.why-choose-2 i{
	font-size: 60px;
}
.why-choose-2 p{
	line-height: 20px;
	font-size: 13px;
	margin-top: 40px;

}
/*illustration design*/
.illustration{
	padding-top: 25%;
	padding-bottom: 20%;
}
.illustration img{
	margin-left: auto;
	margin-right: auto;
}
.Simplicity{
	border-left: 1px solid #e1e1e1;
}
/*Project-a style property*/
.project-a a{
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
}
.live{
	padding-top: 20px;
	padding-right: 30px;	
}
.project-a a:hover{
	text-decoration: none;
	color:#40c0c2;
}
.project-a{
	background-image: url(../img/project-a.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0px;
}
.live i{
	color: #40c0c2;
}
.project-details{
	padding-top: 10%;
	padding-left: 8%;
	padding-bottom: 8%;
	padding-right: 50%;
	color: #ffffff;
}
.blur-2{
	z-index: -1000;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
}
.project-details h2{
	margin-bottom: 10%;
}
.our-project{
	background-color: #40c0c2;
	padding: 12% 11%;
	color: #ffffff;
	height: 60vh;
}
.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}
.our-project h3,.our-project h1{
	line-height: 20px;
}
.our-project h3{
	font-size: 35px;
	transform: translateX(15%);
}
.our-project h1{
	font-size: 50px;
}
.long-project{
	height: 117vh;
}
.l-project{
	background-size: 150% 100%;
	height: 120vh;
}
.short-project{
	background-size: 150% 100%;
}
.blur-2{
	transition: all 0.4s ease-in-out;
	height: 60vh;
}
.blur-3{
	height: 120vh;
}
.project-a:hover .blur-2{
	visibility: inherit;
}
.project-a-2{
	background-image: url(../img/boat.png);
}
.project-a-3{
	background-image: url(../img/girl.png);
}
.project-a-5{
	background-image: url(../img/boy.png);
}
.project-a-4{
	background-image: url(../img/spicy.png);
	background-size: 120% 100%;
}
.meet-title{
	height: 65vh;
	padding-top: 25vh;
	background-color: #40c0c2;
	color: #fff;
}
.meet-title h3,.meet-title h1{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 17vh;
}
.meet-title h3{
	font-size: 35px;
}
.meet-title h1{
	font-size: 50px;
}
.meet-1{
	height: 65vh;
	background-image: url(../img/jhon.png);
	background-size: 120% 100%;
	background-repeat: no-repeat;
	color: #fff;
	background-position: top;
	z-index: 2;
}
.meet-1 h2{
	padding-top: 40vh;
	margin-top: 0px;
	margin-bottom: 2px;
}
.meet-1 h3{
	margin-top: 0px;
}
.nopad{
	padding: 0px;
}
.blur-4{
	height: 65vh;
}
.meet-1:hover .blur-2{
	visibility: inherit;
}
.meet-1 a{
	color: #fff;
	margin: 20px;
	font-size: 23px;
}
.meet-1 a:hover{
	color: #40c0c2;
}
.meet-2{
	background-image: url(../img/lady.png);
}
.meet-3{
	background-image: url(../img/john-2.png);
}
.blogs h3{
	transform: translateY(0%);
}
.blogs .project-a-1{
	background-image: url(../img/spicy.png);
	background-size: 130% 100%;
}
.blogs .project-details{
	padding-top: 0px;
	padding-bottom: 0px;
}
.blogs h2{
	margin-bottom: 10px;
	color: #40c0c2;
}
.blogs a{
	font-size: 17px;
}
.blogs i{
	margin-right: 10px;
}
.blogs .live a{
	font-size: 35px;
}
.blogs .blog-3{
	background-image: url(../img/cow.png);
}
.blogs .blog-2{
	background-image: url(../img/city.png);
}
.navigations h2{
	background-color: #40c0c2;
	margin: 0px;
	padding: 4%;
}
.footer .menubar{
	margin-right: 0px;
}
.footer i{
	padding: 5% 7%;
	font-size: 22px;
}
.footer a{
	padding: 0px;
}
.footer a:hover{
	background-color: #fff;
	color: black;
}
.footer i:hover{
	background-color: #40c0c2;
	color: #fff;
}
.navigations .row{
	margin-right: 0px;
}
.footer .logo{
	padding-top: 2%;
}
.footer .logo p{
	line-height: 0px;
	font-size: 16px;
}